{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">
        <a href="{{ url_for('slideshow.add_nasa_images') }}" class="btn btn-primary">
            Thêm hình ảnh từ Nasa
        </a>
    </h1>
    
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th style="width: 15%;">Hình ảnh</th>
                    <th>Tên</th>
                    <th style="width: 10%;">Là hình ảnh đầu tiên</th> <!-- Thêm cột mới -->
                    <th style="width: 10%;">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                <tr>
                    <td class="text-center">
                        <img src="{{ image.url }}" alt="{{ image.alt_text }}" class="img-fluid" style="max-height: 100px;">
                    </td>
                    <td class="align-middle">{{ image.alt_text }}</td>
                    <td class="align-middle text-center">
                        <button class="btn btn-sm {% if image.is_firstimageblogs %}btn-success{% else %}btn-secondary{% endif %}" onclick="toggleFirstImage({{ image.id }})">
                            {% if image.is_firstimageblogs %}
                                Có
                            {% else %}
                                Không
                            {% endif %}
                        </button>
                    </td>
                    <td class="align-middle text-center">
                        <form action="{{ url_for('slideshow.delete_image', image_id=image.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% for page_num in range(1, total_pages + 1) %}
            <li class="page-item {% if page_num == current_page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('slideshow.manage_images', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>

<script>
function toggleFirstImage(imageId) {
    fetch(`/slideshow/toggle_first_image/${imageId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            alert('Có lỗi xảy ra khi cập nhật hình ảnh.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Có lỗi xảy ra khi cập nhật hình ảnh.');
    });
}
</script>
{% endblock %}