{% extends "layout.html" %}

{% block title %}Compose Blog{% endblock %}

{% block content %}
<div class="max-w-full sm:max-w-md md:max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto bg-white overflow-hidden">
    <div name="form" class="p-2 sm:p-4 md:p-6 lg:p-8 xl:p-10 mx-4 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-32">
        <form method="POST" id="blog-form" action="{{ url_for('blogs_user.blog_create') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                {{ form.title(class="appearance-none w-full text-gray-700 leading-tight focus:outline-none text-2xl", placeholder="Enter blog title") }}
            </div>
            <div class="mb-4">
                <div id="drop-area" class="shadow appearance-none border rounded w-full py-2 px-0 text-gray-700 leading-tight focus:outline-none focus:shadow-outline flex items-center justify-center" style="height: 70px; border: 2px dashed #ccc;">
                    <p class="text-center">
                        Thêm ảnh đại diện cho bài viết<br>
                        <span class="text-sm">hoặc kéo và thả</span>
                    </p>
                    {{ form.thumbnail_url(class="hidden", type="file", id="fileElem", required=True) }}
                </div>
                <input type="hidden" id="thumbnail_url" name="thumbnail_url" required>
                <div id="thumbnail-error" class="text-red-500 text-sm hidden">Thumbnail image is required.</div>
            </div>

            <div class="mb-4">

      
            
              <div id="editor" class=" appearance-none w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" style="height: 200px;">
              </div>

              <!-- Toolbar Button -->
              <div id="toolbar-button" style="display: none; position: absolute;">
                <!-- Nội dung của toolbar-button, ví dụ như SVG icon -->
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                    <path d="M370-160v-260h-20q-78.85 0-134.43-55.61Q160-531.21 160-610.11q0-78.89 55.57-134.39Q271.15-800 350-800h370v60h-90v580h-60v-580H430v580h-60Z"/>
                </svg>
              </div>
                
                <input type="hidden" name="content" id="content">
                <input type="file" id="image-upload" style="display: none;">
            </div>
            <div class="mb-4">
              <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="ConfirmButton" name="ConfirmButton">Đăng Bài</button>            </div>
        </form>
    </div>                
    


    <div id="categoryModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden2">
        <div class="bg-white rounded-lg p-6 w-full max-w-md">
            <h2 class="text-xl mb-4">Chọn danh mục</h2>
            <form id="categoryForm">
                <div class="mb-4">
                    {{ form.category_id(class="form-select mt-1 block w-full border-gray-300 rounded-lg text-lg py-2 px-0 focus:outline-none focus:ring-2 focus:ring-blue-500") }}
                </div>
                <div class="flex justify-end">
                    <button type="button" id="cancelButton" class="mr-2 bg-gray-500 text-white px-4 py-2 rounded">Hủy</button>
                    <button type="submit" id="submitButton" name="submitButton"class="bg-blue-500 text-white px-4 py-2 rounded">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>

   


<style>
    .hidden2 {
        display: none;
    }
    .relative {
  position: relative;
}

#toolbar-button {
  position: absolute;
  z-index: 1000;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 5px;
}

</style>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.bubble.css" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
<script src="https://unpkg.com/tippy.js@6/dist/tippy.umd.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="{{ url_for('static', filename='js/blogs_user_forms.js') }}"></script>
<script src="{{ url_for('static', filename='js/image-upload.js') }}"></script>
<script src="{{ url_for('static', filename='js/tooltip_module.js') }}"></script>

{% endblock %}