<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tailwind-output.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    
    <style>
        html, body {
            height: 100%;
            overflow-y: scroll; /* Luôn hiển thị thanh cuộn dọc */
            font-family: 'Open Sans', sans-serif; /* Sử dụng font Open Sans */
        }
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    </style>
    {% block extra_css %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</head>
<body class="flex flex-col min-h-screen bg-white md:bg-transparent" x-data="{ mobileMenuOpen: false }">
    <header class="bg-white border-gray-200 dark:bg-gray-900 w-full relative z-50">
        {% include 'navbar.html' %}
    </header>

    <div class="content-wrapper flex-grow w-full">
        <main class="main-content w-full p-4 sm:p-4 md:p-4 lg:p-4 xl:p-4">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="bg-white shadow-md py-4 mt-auto w-full">
            <div class="container mx-auto px-4 text-center">
                <p>&copy; 2024 imm0rtal. All rights reserved.</p>
            </div>
        </footer>
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>